<!DOCTYPE html>
{% if theme == "dark" %}
    <html lang="en" data-theme="dark">
{% else %}
    <html lang="en">
{% endif %}
    <head>
        <meta charSet="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <h1>Python students</h1>
        </header>

            {% block content %}
            {% endblock %}

    </body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
