<!DOCTYPE html>
{% if theme == "dark" %}
    <html lang="en" data-theme="dark">
{% else %}
    <html lang="en">
{% endif %}
    <head>
        <meta charSet="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <h1>Python students</h1>
        </header>
        <nav>
            <button id="reloadBtn" class="hidden" onclick="location.reload();">Reload page</button>
            {% if "students" in table_list %}
                <button disabled>Tables OK</button>
            {% else %}
                <button onclick="createTables()">Create tables</button>
            {% endif %}
            {% if student_list|length %}
                <button disabled>Sample data OK</button>
            {% else %}
                <button onclick="insertSampleData()" >Insert sample data</button>
            {% endif %}
            <button id="drop-db-button" class="error" onclick="dropDatabase()">Drop table/database</button>
        </nav>
        <main>
            <section>
                <h3>Student list</h3>
                {% if student_list|length < 1 %}
                <p>Student table is empty. Press button to insert sample data</p>
                {% else %}
                <table>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>City</th>
                    </tr>
                    {% for student in student_list %}
                        <tr>
                            <td class="given-name">{{ student.given_name }}</td>
                            {% if student.family_name == "Unknown" %}
                                <td class="student-unknown family-name">{{ student.family_name }}</td>
                            {% else %}
                                <td class="family-name">{{ student.family_name }}</td>
                            {% endif %}
                            {% if student.city == "Unknown" %}
                                <td class="city-unknown">{{ student.city }}</td>
                            {% else %}
                                <td >{{ student.city }}</td>
                            {% endif %}
                            <!-- TODO: List city and courses in details-frame or modal
                            <td>
                                <button class="medium">Details</button>
                            </td>
                            -->
                            <td>
                                <button class="error medium" onclick="deleteStudent({{ student.student_id }})">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </section>
            <section>
                <h3>Tables in database</h3>
                {% for table in table_list %}
                    <kbd style="font-size: x-large;">{{ table }}</kbd>
                {% endfor %}
                {% if not table_list|length %}
                    <p>No tables  in database</p>
                {% endif %}
            </section>
        </main>
        <footer>
            <hr/>
            <a href="/export/csv" target="_blank">Export to CSV</a>
            <a href="/export/json" target="_blank">Export to JSON</a>
            <hr/>
        </footer>
        <div id="infobox-container" style="visibility: hidden;">
            <h2>Info box</h2>
            <pre id="infoBox"></pre>
        </div>
    </body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
